@model MVCCore_BatchManagementSystemProject.Models.RegistrationModel
@{
    ViewData["Title"] = "Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function () {
   
        $("#FeeId").change(function () {
            GetFees();
        })
        $("#Discount").keyup(function () {
            Calculate();
        })
    })
    function GetFees() {
        var id = $("#FeeId").val();
        $.ajax({
            url: '/Registration/GetFee?fee_id=' + id,
            method: 'get',
            success: function (resp) {
                $("#Discount").val(1000)
                $("#RegistrationAmount").val(1)

                var discount = Number($("#Discount").val())
                console.log(discount)
                var finalfees = (Number(resp.feeAmount) + (Number(resp.feeAmount) * Number(resp.gst)) / 100) - Number(discount)
                $("#FinalTrainingFees").val(finalfees)
                $("#Fees").val(resp.feeAmount)
                $("#Gst").val(resp.gst)
               
            }
        })
    }
             
    function GetFinalFees() {
       

    }

    function Calculate() {
        var discount = Number($("#Discount").val())
        var fees = $("#Fees").val();
        var gst = $("#Gst").val();
        var finalfees = (Number(fees) + (Number(fees) * Number(gst)) / 100) - Number(discount)
        $("#FinalTrainingFees").val(finalfees)
    }
</script>
<div class="row">
 
    <div class="row">
        @using (Html.BeginForm(FormMethod.Post, new { @enctype = "multipart/form-data" }))
        {
            <div class="card">
                <div class="card-header">
                    <h5 style="text-align:center" class="card-title">Student Registration Form</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label>Student Name</label>
                                @Html.TextBoxFor(e=>e.StudentName,new{@class="form-control"})
                            </div>

                        </div>
                        <div class="col-md-3">

                            <div class="mb-3">
                                <label>Gender</label><br />
                                @Html.RadioButtonFor(e=>e.Gender,"Male") <span>Male</span>
                                @Html.RadioButtonFor(e=>e.Gender,"Female") <span>Female</span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mb-3">
                                <label>Birth Date</label>
                                @Html.TextBoxFor(e=>e.BirthDate,new{@type="date", @class="form-control"})
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">

                            <div class="mb-3">
                                <label>Qualification</label>
                                @Html.TextBoxFor(e=>e.Qualification,new{@class="form-control"})
                            </div>
                        </div>
                        <div class="col-md-3">

                            <div class="mb-3">
                                <label>Email Address</label>
                                @Html.TextBoxFor(e=>e.EmailAddress,new{@class="form-control"})
                            </div>
                        </div>
                        <div class="col-md-3">

                            <div class="mb-3">
                                <label>Mobile Number</label>
                                @Html.TextBoxFor(e=>e.MobileNumber,new{@class="form-control"})
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mb-3">
                                <label>Profile Photo</label>
                                <input type="file" name="photo" class="form-control">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">

                            <div class="mb-3">
                                <label>Registration Date</label>
                                <input type="date" id="registrationdate" name="registrationdate" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label>Course</label>
                                @Html.DropDownListFor(e=>e.FeeId,ViewBag.courses as List<SelectListItem>,"Select Course",new{@class="form-control"})
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mb-3">
                                <label>Gst</label>
                                @Html.TextBoxFor(e=>e.Gst,new{@class="form-control",@readonly="readonly"})

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mb-3">
                                <label>Fees</label>
                                @Html.TextBoxFor(e=>e.Fees,new{@class="form-control",@readonly="readonly"})

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mb-3">
                                <label>Discount</label>
                                @Html.TextBoxFor(e=>e.Discount,new{@class="form-control",@readonly="readonly"})

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mb-3">
                                <label>Final Training Fees</label>
                                @Html.TextBoxFor(e=>e.FinalTrainingFees,new{@class="form-control",@readonly="readonly"})

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mb-3">
                                <label>Registration Amount</label>
                                @Html.TextBoxFor(e=>e.RegistrationAmount,new{@class="form-control",@readonly="readonly"})

                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <input type="submit" value="Submit" class="btn btn-primary">
                    <span style="color:green;">@ViewBag.msg</span>
                </div>
            </div>
        }


    </div>
 
</div>

