@model MVCCore_BatchManagementSystemProject.Models.TbltrainingCourse
@{
    ViewData["Title"] = "CourseSyllabus";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<style>
    body{
        font-family:'Bookman Old Style'
    }
</style>

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script>
    function PrintInvoice() {
        // var divName = document.getElementById("dvprint");
        var printContents = document.getElementById("dvprint").innerHTML;
        var originalContents = document.body.innerHTML;
        document.body.innerHTML = printContents;
        window.print();
        document.body.innerHTML = originalContents;
    }
</script>
<input type="button" value="Print Invoice" class="btn" onclick="PrintInvoice()" />
<div class="row" id="dvprint">
    <div class="col-md-12">
       <div style="text-align:center">
            <h4 style="color:blue">CIIT Training Institute Pvt Ltd</h4>
              <div>
                Office #2, 1st floor, manisha blitz , hadapsar, near shankar math, pune-28
              </div>
              <div>Web site:<b>www.ciitinstitute.com</b></div>
       </div>
       <hr />
        <table class="table table-borderless">
            <tr>
                <td>Course Name - <b>@Model.CourseName</b></td>
            </tr>
        </table>    
        <table>
            <tr>
                <td>&nbsp;Course Fees - </td>
                @foreach (var item in Model.TbltrainingCourseFees)
                {
                   <td>&nbsp;<b>@item.FeesAmount<span><span>+@item.Gst</span> (@item.FeeMode)</span></b></td>
                }
            </tr>
        </table>
        <hr/>
        <h4>Syllabus</h4>
        <ul class="">
            @foreach(var item in Model.TbltrainingCourseTopics)
            {
                <li>
                    <b> @item.Topic.TopicName<span>(Days=@item.Topic.TbltopicContents.Count())</span></b>
                    <ul>
                        @foreach(var c in item.Topic.TbltopicContents)
                        {
                            <li>@c.ContentName</li>
                        }
                    </ul>
                    <hr />
                </li>
            }
        </ul>
    </div>
</div>
