 @model IEnumerable<MVCCore_BatchManagementSystemProject.Models.TbltrainingCourse>
@{
    ViewData["Title"] = "Training Course";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<style>
    tr, td, th {
        height: 10px;
        padding: 0px
    }

    .table > :not(caption) > * > * {
        padding: .3rem .5rem
    }

    .form-control {
        font-size: 12px;
    }

    body, input, select {
        font-size: 12px;
    }
</style>
<script>
    var fees=[];
    var topics = [];
    $(document).ready(function() { 
      //  GetCourses();
        GetTopics();
        $("#btnsubmittopics").click(function () {
            AddTopicData();
        })
        $("#btnadd").click(function(){
            AddFees();
        })
        $("#btnsubmit").click(function () {
            AddCourseDetails();
        })

    })
    function GetTopics() {
        $.ajax({
            url: '/Admin/Topic/GetTopics',
            method: 'get',
            success: function (resp) {
                console.log(resp);

                $.each(resp,function(i,d){
                    $("#dvtopics").append("<div class='col-md-3'><input type='checkbox' value="+d.topicId+"  onchange='AddTopic("+d.topicId+")'/> "+d.topicName+"</div>")
                })
            }
        })
    }
    function GetCourseWiseTopics(cid) {

        $.ajax({
            url: '/Admin/Course/GetCourseTopics/'+cid,
            method: 'get',
            success: function (resp) {
                console.log(resp);

                $.each(resp, function (i, d) {
                    $("#dvcoursewisetopic").append("<div class='col-md-3'><input type='checkbox' value=" + d.topicId + "  onchange='AddTopic(" + d.topicId + ")'/> " + d.topicName + "</div>")
                })
            }
        })
    }
    function GetCourses() {
        $.ajax({
            url: '/Admin/Course/GetCourses',
            method: 'get',
            success: function (resp) {
                $.each(resp,function(i,d){
                    var totalfees = (Number(d.feeAmount) + (Number(d.feeAmount) * d.gst) / 100)

                    $("#dvcourses").append("<div class='card'><div class='card-body'><h5 class='card-title'>" + d.courseName + "</h5><p class='card-text'>Course Fees-" + d.feeAmount + "<span>(" + d.feeMode + ")</span></p><p class='card-text'>GST-" + d.gst + "</p><p class='card-text'>Total Course Fees-" + totalfees + "</p><button  class='btn btn-primary' onclick='AddCourseTopic("+d.courseId+")'>Add Topic</button></div></div>")
                })
                console.log(resp);

            }
        })
    }

    function AddTopic(tid){
        if (topics.indexOf(tid) == -1) {
            topics.push(tid);
        }
        else {
            topics.splice(topics.indexOf(tid), 1);
        }
    }
    function AddCourseTopic(cid) {
        $("#txtcourseid").val(cid)

        $("#myModal").modal("show");
    }

    function AddTopicData() {
        var cid = $("#txtcourseid").val();
        var data=[];
        $.each(topics, function (i, d) {
            data.push({ "TopicId": d });
        })
        var st = { "CourseId": cid, "TbltrainingCourseTopics": data };
        $.ajax({
            url:'/Admin/Course/AddCourseTopics',
            method:'post',
            data: (st),
            // contentType:'application/json',
            success: function (resp) {
                console.log(resp);
                alert(resp);
                window.location.href = "/Admin/Course/Index";
            }
        })
    }
    function AddFees() {
        var feemode = $("#FeeMode").val();
        var feeamount = $("#FeesAmount").val();
        var gst = $("#Gst").val();
        var st = { "FeeMode": feemode, "FeesAmount": feeamount, "Gst": gst };
        console.log(st)
        fees.push(st);
        ClearData();
        Display();
    }

    function AddCourseDetails() {
        var cname = $("#CourseName").val();
        var st = { "CourseName": cname, "TbltrainingCourseFees": fees };
        $.ajax({
            url: '/Admin/Course/AddCourseDetails',
            method:'post',
            data:(st),
            // contentType:'application/json',
            success:function(resp){
                console.log(resp);
                alert(resp);
                window.location.href = "/Admin/Course/Index";

            }
        })
    }
    function Display() {
        $("#tbldata").empty();
        $.each(fees, function (i, d) {
                    $("#tbldata").append("<tr><td>" + (i + 1) + "</td><td>" + d.FeeMode + "</td><td>" + d.FeesAmount + "</td><td>" + d.Gst + "</td></tr>");
        })
    }

    function ClearData() {
        $("#FeeMode").val("");
        $("#FeesAmount").val("");
        $("#Gst").val("");
    }
</script>
<div class="row">

      
            <div class="col-md-6">
                <div class="card">

                <div class="card-header">
                    <h5 class="card-title">Training Course Form</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="row">
                            <div class="col-md-12">
                        <div class="mb-3">
                            <label>Course Name</label>
                            @Html.TextBox("CourseName","",new{@class="form-control"})
                        </div>

                            </div>
                </div>

                            <div class="row">

                                <div class="col-md-3">
                        <div class="mb-3">
                            <label>Fees Mode</label>
                            <select id="FeeMode" class="form-control">
                                <option selected disabled>Select Fee Mode</option>
                                <option value="Lumsum">Lumsum</option>
                                <option value="Installment">Installment</option>
                            </select>
                        </div>

                                </div>
                                <div class="col-md-3">
                        <div class="mb-3">
                            <label>Fees Amount</label>
                            @Html.TextBox("FeesAmount","",new{@class="form-control"})
                        </div>

                                </div>
                                <div class="col-md-3">
                        <div class="mb-3">
                            <label>GST</label>
                            @Html.TextBox("Gst","",new{@class="form-control"})
                        </div>
                                </div>
                    <div class="col-md-3">
                        <br/>
                        <input type="button" value="+" id="btnadd" class="btn btn-primary" />
                    </div>


                            </div>
                            <div class="row">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Sr No</th>
                                <th>Fee Mode</th>
                                <th>Fee Amount</th>
                                <th>GST</th>

                                        </tr>
                                    </thead>
                                    <tbody id="tbldata"></tbody>
                                </table>
                            </div>
                        </div>
                        </div>
                <div class="card-footer">
                    <input type="submit" value="Submit" id="btnsubmit" class="btn btn-primary">
                    <span style="color:green;">@ViewBag.msg</span>
                </div>
        </div>

            </div>
    

                <div class="col-md-6">
        <div class="accordion" id="myAccordion">
            @foreach(var item in Model)
                    {

            <div class="accordion-item">
                <h2 class="accordion-header" id="heading_@item.CourseId">
                        <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapse_@item.CourseId">@item.CourseName</button>
                </h2>
                <div id="collapse_@item.CourseId" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                        <div class="card-body">
                            <div class="row">
                                <div>
                                    <h6>Course Fees-</h6>

                                    @foreach (var fee in item.TbltrainingCourseFees)
                                    {
                                        float totalfees = (float)(fee.FeesAmount + (fee.FeesAmount * fee.Gst / 100));
                                        <table class="table">
                                            <tr>
                                                <td>Fees - @fee.FeesAmount<span> (@fee.FeeMode)</td>
                                                <td>GST - @fee.Gst</td>
                                                <td>Total - @totalfees</td>
                                            </tr>
                                        </table>

                                    }
                                    <div>
                                        <h6>Course Topics</h6>
                                        <div class="row">
                                            @foreach (var topic in item.TbltrainingCourseTopics)
                                            {
                                                <div class="col-md-4">@topic.Topic.TopicName</div>
                                            }

                                        </div>
                                        <button class='btn btn-primary' onclick="AddCourseTopic(@item.CourseId)">Add Topic</button>

                                    </div>

                                </div>





                            </div>
                        </div>
                </div>
            </div>
            }
          
        </div>

    </div>


       </div>
        <div id="myModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add Course Topic</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label>Course Id</label>
                            <input type="text" id="txtcourseid" class="form-control" />
                        </div>
                        <div class="mb-3">
                            <label>Topic Id</label>
                           <div id="dvtopics" class="row"></div>


                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" id="btnsubmittopics">Submit</button>
                    </div>
                </div>
            </div>
        </div>
   






